[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
boto3 = "*"
ringmaster = {editable = true,path = "."}
docopts = "*"
requests = "*"
loguru = "*"
cfn-flip = "*"
botocore = "*"
halo = "*"

[requires]
python_version = "3.6"
